* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 16px;
  padding-bottom: 40px;
  box-sizing: border-box;
  padding-top: 100px;
}

.scroll-area {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 30px;
  max-height: calc(100vh - 210px);
  padding-top: 5px;
}

.bus-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 8px;
  background-color: white;
  padding-bottom: 15px;
  position: sticky;
  z-index: 10;
}

#cancelBtn, #saveBtn {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#cancelBtn {
  background: #e6e6ec;
  color: #000;
}

#saveBtn {
  background: #fcd34d;
  color: #000;
}


.footer-buttons {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 0;
  border-top: 1px solid #eee;
  background-color: white;
  position: sticky;
  bottom: 0;
}


.search-section {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 8px 8px;
  margin-bottom: 5px;
  gap: 8px;
  width: 92%;
  position: fixed;
  top: 70px; 
   z-index: 1000;
}

.search-icon,
.clear-icon {
  flex-shrink: 0;
  cursor: pointer;
  fill: #999;
}

#search {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 16px;
  outline: none;
  font-family: 'Manrope',sans-serif;
}

.title {
  font-weight: 700;
  margin: 12px 0;
  font-size: 24px;
  font-family: 'Manrope',sans-serif;
  position: sticky;      
  background: white;    
  padding: 8px 0;
  color:#463c9d;
  z-index: 10;
  top: 100px;
  padding-top: 10px;
}

.bus-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  border: 1px solid #eee;
}

.bus-icon {
  width: auto;
  height: 24px;
}

.bus-text {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color:#000000;
  font-family: "Manrope",sans-serif;
}

.footer-buttons {
  border-top: 1px solid #eee;
  position: fixed;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  background: white;
  padding: 10px 16px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

#cancelBtn, #saveBtn {
  width: 48%;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

#cancelBtn {
  background: #e6e6ec;
  color: #000;
}

#saveBtn {
  background: #fcd34d;
  color: #000;
}

.bus-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
  scrollbar-width: thin;
  scrollbar-color: #facc15 transparent; 
}
.bus-list::-webkit-scrollbar {
  width: 8px;
}

.bus-list::-webkit-scrollbar-track {
  background: transparent;
}

.bus-list::-webkit-scrollbar-thumb {
  background-color: #facc15;
  border-radius: 4px;
}
.bus-item {
      cursor: pointer;
      transition: border 0.3s;
}

.bus-item.selected {
      border: 2px solid #463c9d;
      background-color:#fcd34d;
}
.highlighted-route {
    position: sticky; 
    top: 0; 
    background: white; 
    z-index: 10; 
    padding-bottom: 10px; 
    border-bottom: 1px solid #eee; 
}

.bus-item.selected2 {
    border: 2px solid #463c9d;
    background-color: #f0f8ff;
}
.hidden {
  display: none;
}
#ackSaveok{
  background-color: #fcd34d; 
  border: none;
  border-radius: 9999px;
  width: 100px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
}
#ackCancelok{
  background-color: #fcd34d; 
  border: none;
  border-radius: 9999px;
  width: 100px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
}