
.svg-wrapper1 {
    width: 100%;
    max-height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
}  
.countdown-timer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: #e74c3c;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.alert{
    color: #e74c3c;
    font-weight: bold;
}
#ackSuccessok{
  background-color: #fcd34d; 
  border: none;
  border-radius: 9999px;
  width: 100px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
}